.contactTitleOnMobile {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 30px;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;   
}

.contactForm input {
    width: 80%;
    padding: 5px;
    background-color: var(--grey);
    color: var(--black);
    border: 1px solid var(--black);
}
.contactForm input::placeholder {
    color: var(--black); 
    
}
.contactForm .inputName{
    width: 50%;
    justify-self: start;
    margin-right: 30%;
}
.contactForm textarea {
    width: 80%;
    padding: 5px;
    background-color: var(--grey);
    color: var(--black);
    border: 1px solid var(--black);
}
.contactForm textarea::placeholder {
    color: var(--black); 
}
.btnFormSubmit{
    color: var(--white);
    background-color: var(--orange);
    border-radius: 30px;
    padding: 15px;
    border: none;
    width: 150px;
    box-shadow: 0px 2px var(--grey) ;
    margin-top: 10px;
}

.asideContact {
    display: none;
}

.contactImg {
    width: 100%;
}
.contactDesktopImg {
    display: none;
}
.finishOfContact {
    width: 100%;
}
.frontContact {
    display: none;
}
@media (min-width: 768px){
    .contactImg {
        display: none;
    }
    .contactDesktopImg {
        display: block;
        width: 100%;
    }
    .DesktopContactBg {
        object-fit: fill;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 30px;
    }
    .desktopPrice{
        font-size: 15px;

    }
    .contactTitleOnMobile{
        display: none;
    }
    .asideContact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    #contactSignature {
        margin-left: 40%;
    }
    .finishOfContact {
        display: none;
    }
    .frontContact {
        display: block;
        font-size: 13.5vw;
        text-align: center;
        color: var(--orange);
        -webkit-text-stroke: 1px #00000050;
        text-shadow: var(--orange) -7px -7px; 
    }
    .btnFormSubmit{
        color: var(--orange);
        background-color: var(--black);
        border-radius: 8px;
        padding: 15px;
        font-weight: 800;
        width: 80%;
        box-shadow: 0px 4px var(--grey) ;
        margin-top: 10px;
    }
    .contactForm textarea {
        height: 220px;
    }
    .contactForm form{
        gap: 30px;
    }
    .contactForm input {
       height: 50px;
    }
    .sideServitronic{
        -webkit-text-stroke: 1px rgba(0, 0,0, 3);
        transform: rotate(270deg);
        color: transparent;
        font-size: 60px;
        position: relative;
        left: 64%;
        bottom: 295px;
        display: none;
        
    }
    .contactLogo{
        margin-right: 80%;
        margin-top: 20px;
    }
    .hrContact{
        width: 70%;
        background-color: var(--black);
        height: 3px;
    }
}
@media (min-width: 1440px){
    .sideServitronic{
        display: block;
    }
}