
brandsTitle{
    background-image: url();
}
.cajaConFoto{
    display:flex;
   flex-direction: column;
}
.importantBrandsImg{
width: 150px;

}
.SmegFirst{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.textoMarca{
    font-size: 14px;
    max-width: 150px;
    line-height: 19px;
    margin-top: 5px;
}
.tituloDeMarcas{
    font-weight: bolder;
    margin: 3px 0 3px;
}