.address-section{
    background-color: #C4C4C4;
   
}
.address{
    margin-top: -5px;
}

.address-asside{
    -webkit-text-stroke: 1px var(--black);    
    color: transparent;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
}

.address-title{
    text-transform: uppercase;
    z-index: 0;
    transform: translateY(-13px);
    margin-left: 45px;
}

.address p{
  margin: 0 44px 10px;

}