.contactTitleOnMobile {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 30px;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    }

.contactForm input {
    width: 80%;
    padding: 5px;
    background-color: var(--grey);
    color: var(--black);
    border: 1px solid var(--black);
}
.contactForm input::placeholder {
    color: var(--black); 
    
}
.contactForm .inputName{
    width: 50%;
    justify-self: start;
    margin-right: 30%;
}
.contactForm textarea {
    width: 80%;
    padding: 5px;
    background-color: var(--grey);
    color: var(--black);
    border: 1px solid var(--black);
}
.contactForm textarea::placeholder {
    color: var(--black); 
}
.btnFormSubmit{
    color: var(--white);
    background-color: var(--orange);
    border-radius: 30px;
    padding: 15px;
    border: none;
    width: 150px;
    box-shadow: 0px 2px var(--grey) ;
    margin-top: 10px;
}

.asideContact {
    display: none;
}

@media (min-width: 768px){
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .contactTitleOnMobile{
        display: none;
    }
    .asideContact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    #contactSignature {
        margin-left: 40%;
    }
    /* .contactLogo {
        background-color: var(--black);
        padding: 25px;
        width: 102px;
        height: 130px;
        padding-top: 60px
    } */
}