header{
    border-bottom: 10px solid var(--black);
   }
   /* navbar negra que dice llamenos y tiene numero de telefono*/
.llamenos{
    background-color: var(--black);
    color: white;
    display: flex;
    height: 5rem;
    font-size: 0.8rem ;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    position: relative;
    z-index: 3;
}
.llamenos span{

    background-color: var(--black);
}
/*quito estilo de ancla, pongo blanco*/
.llamenos a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
/*sector que tiene solo logo en mobile, lo centro*/
.navLogo{
align-items: center;
text-align: center;
}

.navLogo img{
    width: 60%;
    padding: 0.7rem;
   
}
/*uls, no disponibles en mobile*/
.navHeader{
    display: none;
}
/*Hamburger de mobile*/
.menuMobile{
    width: 221px;
    height: 396px;
    background-color: var(--black);
    position: absolute;
    color: white;
    right: 10px;
    z-index: 2;
    transition: all 0.5s;
}
.hidden{
    top: -500px;
}
.deploy{
    top:80px;
}
.menuMobile nav{
    margin: 10%;
}
.menuMobile nav ul li a{
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
    font-weight: 999;
    color: white;
}
.menuMobile nav ul li {
    margin-bottom: 15px;
}
.menuMobile img{
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: -1;
}
.mobileHr{
    margin: 0 auto;
    color: white;
    width: 60%;
}
.ulHeader li{
    display: none;
}

/*Medias querys de tablet*/

@media screen and (min-width: 768px){
   /* el display none de la burger esta en el burgerStyle.css como query*/
   header{
       border-bottom: 4px solid var(--black);
   }
   .llamenos{
       height: 3rem;
   }
    .navLogo{
        margin-top: 5px;
        justify-content: space-around;
        display: flex;
    }
    .navLogo img{
        width: 25%;
        
       
    }
    .ulHeader {
     display: flex;
    }
    .ulHeader ul{

   
    }
    .ulHeader li{
        margin-left: 5px;
        padding: 20px;
        padding-bottom: 22px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        list-style: none;
        font-size: 0.89rem;
        height: 100%;
        width: 100%;
    }
  
    .ulHeader li:hover{
        background-color: var(--orange);
        box-shadow: 5px  5px var(--black);
        transition: all 1.3s;
    }
    .menuMobile{
        display: none;
    }
}

