@import url("header.css");
@import url("burgerStyle.css");
@import url('welcome.css');
@import url('contact.css');



/*Variables de colores*/

:root{
    --orange: #FD7C43;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #C4C4C4;
    --darkgrey: #979797;
}



/* Body general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

