@import url("header.css");
@import url("burgerStyle.css");




/*Variables de colores*/

:root{
    --orange: #FD7C43;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #C4C4C4;
    --darkgrey: #979797;
}



/* Body general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}